workflow-1-chat-ai-vikunja.json
{
  "name": "Chat → AI → Vikunja Task Creator",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-4a1b-8c9d-0e1f2a3b4c5d",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "vikunja-task-chat-trigger"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Du bist ein hilfreicher Assistent, der natürliche Spracheingaben in strukturierte Aufgabendaten umwandelt.\n\nWenn der Benutzer eine Aufgabe erstellen möchte, extrahiere die folgenden Informationen:\n- task_title: Der Titel der Aufgabe\n- due_date: Das Fälligkeitsdatum im ISO 8601 Format (YYYY-MM-DDTHH:mm:ssZ). Heutiges Datum ist 2026-02-16. Relative Angaben wie 'morgen', 'nächste Woche', 'in 3 Tagen' müssen in absolute Datumsangaben umgerechnet werden.\n- project_id: Die Projekt-ID (standardmäßig 6 für die Inbox. Verfügbare Projekte: 6=Inbox, 7=ÖIF, 8=Home Lab, 9=IBM, 10=Cardomat)\n- priority: Priorität als Zahl (1=sehr niedrig, 2=niedrig, 3=mittel, 4=hoch, 5=sehr hoch, Standard ist 3)\n\nBeispiele:\n- \"Erinnere mich morgen an Einkaufen\" → title: \"Einkaufen\", due_date: \"2026-02-17T12:00:00Z\", project_id: 6, priority: 3\n- \"Wichtig: Projekt-Präsentation in 3 Tagen vorbereiten\" → title: \"Projekt-Präsentation vorbereiten\", due_date: \"2026-02-19T12:00:00Z\", project_id: 6, priority: 4\n\nGib IMMER ein gültiges JSON-Objekt zurück mit den extrahierten Feldern."
        }
      },
      "id": "b2c3d4e5-f6a7-4b2c-9d0e-1f2a3b4c5d6e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama3.1:8b-instruct-q4_0",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4c3d-0e1f-2a3b4c5d6e7f",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        480,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "ollama-credentials",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"task_title\": \"string\",\n  \"due_date\": \"string\",\n  \"project_id\": \"number\",\n  \"priority\": \"number\"\n}"
      },
      "id": "d4e5f6a7-b8c9-4d4e-1f2a-3b4c5d6e7f8a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://vikunja.vikunja.svc.cluster.local:3456/api/v1/projects/{{ $json.project_id }}/tasks",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer tk_ba2a509cbe18e5368df76e9de325f55e12506358"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.task_title }}"
            },
            {
              "name": "due_date",
              "value": "={{ $json.due_date }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e5f-2a3b-4c5d6e7f8a9b",
      "name": "Create Vikunja Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Aufgabe erstellt: {{ $json.title }} (Fällig: {{ $json.due_date }})"
      },
      "id": "f6a7b8c9-d0e1-4f6a-3b4c-5d6e7f8a9b0c",
      "name": "Respond to Chat",
      "type": "@n8n/n8n-nodes-langchain.respondToChat",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Vikunja Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Vikunja Task": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "workflow-v1-vikunja-chat",
  "meta": {},
  "id": "workflow-chat-ai-vikunja",
  "tags": []
}
